body {
    font-family: 'Lato', Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f9;
}

h1 {
    color: #333;
    font-family: 'Lato', Arial, sans-serif;
}

#card-container {
    margin-top: 20px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding: 15px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: 'Lato', Arial, sans-serif;
}

img {
    border: none; /* Remove the border */
    border-radius: 8px;
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
}

p {
    word-wrap: break-word;
    max-width: 100%;
    line-height: 1.5;
    font-family: 'Lato', Arial, sans-serif;
}

.card-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 80%;
}

.card-image {
    max-width: 100%;
    height: auto;
    margin-right: 20px;
}

.card-details {
    max-width: 60%;
}

.card-details h2 {
    margin-top: 0;
}

.card-details p {
    margin: 5px 0;
}

.icon {
    width: 5%; /* Standardize to 5% */
    height: auto;
    display: inline;
    vertical-align: -100%; /* Align to the bottom */
    border: none;
}

/* Optional: Define specific sizes for individual SVGs if needed */
.icon-credit { width: 5%; vertical-align: -100%; }
.icon-trash { width: 5%; }
.icon-mu { width: 5%; }
.icon-click { width: 5%; }
.icon-subroutine { width: 5%; }
.icon-recurring-credit { width: 5%; }

