/* style.css */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f9;
}

h1 {
    color: #333;
}

#card-container {
    margin-top: 20px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding: 15px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

img {
    border: 1px solid #ccc;
    border-radius: 8px;
}

.card-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 80%;
}

.card-image {
    max-width: 70%;
    height: auto;
    margin-right: 20px;
}

.card-details {
    max-width: 60%;
}

.card-details h2 {
    margin-top: 0;
}

.card-details p {
    margin: 5px 0;
}
